.chats {
  position: relative;
  height: 400px;
  width: 250px;
}

.chats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #059ee0;
  height: 50px;
}

.chats__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 10px;
}
.chats__search > input {
  outline: none;
  border: none;
  font-size: 12px;
  background-color: transparent;
}

.chats__avatar {
  height: 30px !important;
  width: 30px !important;
}

.chats__search > input::placeholder {
  color: white;
  opacity: 1;
}

.chats__posts {
  height: 350px;
  background-color: white;
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.45);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -5px;
  overflow: scroll;
}

.chats__posts::-webkit-scrollbar {
  display: none;
}

.chats__takePic {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: gray;
  font-size: 40px !important;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chats__takePic:hover {
  opacity: 0.8;
}

.chats__searchIcon {
  color: white !important;
  font-size: 15px !important;
}

.chats__chatIcon {
  color: white !important;
  font-size: 20px !important;
}
